@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;1,600&family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Open Sans", sans-serif;
}

h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

p,
body {
  font-family: "Inter", sans-serif;
}

.p-rel {
  position: relative;
}

section {
  padding: 70px 0;
  position: relative;
}

html,
body {
  overflow-x: hidden;
}

main {
  background-color: #fafafa;
}

/* heading */
.main-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 90px;
  text-align: left;
  text-transform: capitalize;
  color: #1b1a1e;
}

.heading {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 67px;
  text-transform: capitalize;
  color: #1b1a1e;
}

.sub-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-transform: capitalize;
  color: #1b1a1e;
  text-align: left;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #1b1a1e;
  text-align: left;
}

.sm-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1b1a1e;
  text-align: left;
}

.blue {
  color: rgba(44, 105, 223, 1);
}

.blueBG {
  background-color: rgba(44, 105, 223, 1);
}

.white {
  color: #ffffff;
}

.whiteBG {
  background-color: #ffffff;
}

.black {
  color: #000000;
}

.blackBG {
  background-color: #000000;
}

.redBG {
  background-color: rgba(243, 14, 14, 1);
}

.orangeBG {
  background-color: rgba(247, 55, 6, 1);
}

.lightOrange {
  background-color: rgba(252, 160, 19, 1);
}

.greyBG {
  background-color: rgba(164, 164, 164, 1);
}

.grey-1BG {
  background-color: rgba(239, 239, 239, 1);
}

.whiteBG {
  background-color: rgba(255, 255, 255, 1);
}

/* header - navbar */
header {
  background-color: #fafafa;
  position: relative;
  z-index: 2;
  padding: 15px 0;
}

header .navbar {
  padding: 0;
  padding-top: 16px;
}

header .navbar-nav .nav-item {
  margin: auto 16px;
}

header .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 19px;
  color: rgba(27, 26, 30, 1);
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: rgba(24, 90, 210, 0.9);
}

header .navbar-nav .nav-item .hvr-line {
  color: rgba(24, 90, 210, 0.9);
  transition: all 0.3s;
}

header .navbar-nav .nav-item .hvr-line:hover {
  color: rgba(24, 90, 210, 0.9);
}

header .navbar-nav li a {
  position: relative;
  padding: 0;
}

header .navbar-nav .nav-item .hvr-line::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 25%;
  height: 1px;
  background: rgba(24, 90, 210, 0.9);
  transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
}

header .navbar-nav a.hvr-line::after {
  display: block;
}

header .navbar-nav li a.hvr-line::after {
  background-color: rgba(24, 90, 210, 0.9);
}

header .navbar-nav li {
  position: relative;
}

header .navbar-nav .nav-item a {
  -webkit-transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
  -o-transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
  transition: 0.6s ease-in-out;
}

a.hvr-line {
  font-size: 14px;
  line-height: 26px;
}

header .navbar-nav .nav-item:hover .hvr-line::after {
  width: 100%;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

/* slider */
.case-study-info {
  background: rgb(242, 242, 242);
  padding-top: 35%;
  padding-bottom: 3%;
  margin-top: -30%;
}

.case-study-info-box {
  border-radius: 12px;
  padding: 2% 1%;
  color: rgba(44, 105, 223, 1);
}

.case-study-info .heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 187.95%;
  text-transform: capitalize;
  color: #2c69df;
}
.case-study-info .sub-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 187.95%;
  text-transform: capitalize;
  color: #2c69df;
}
.info-box {
  border-right: 1px solid #2c69df;
  padding-left: 40px;
}

.nb {
  border-right: 0px;
}

/* BANNER SECTION */
.banner {
  position: relative;
  background: #2c69df;
  height: 748px;
  z-index: 2;
}

.banner .sub-heading {
  color: #ffffff;
  margin-top: 30px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.banner-img {
  position: absolute;
  min-width: 855px;
  right: -105px;
  z-index: 5;
}

.banner .box {
  margin-top: 90px;
}

/* projects-goals */
.project-goals .goalsBox {
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  padding: 84.5px 20px;
  height: 100%;
}

.project-goals .goalsBox .num {
  width: 68px;
  height: 68px;
  background-color: #1761b9;
  border-radius: 100%;
}

.project-goals .goalsBox .num span {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 70px;
  color: #ffffff;
  padding-left: 22px;
}

.project-goals .goalsBox .sub-heading {
  font-weight: 800;
  margin-top: 15px;
  text-transform: none;
}

.project-goals .goalsBox .sm-text {
  margin-top: 50px;
  margin-bottom: 0;
}

.project-goals .goalsBox:hover {
  background-color: #2c69df;
}

.project-goals .goalsBox:hover .num {
  background-color: #ffffff;
}

.project-goals .goalsBox:hover .num span {
  color: #2c69df;
}

.project-goals .goalsBox:hover .sub-heading {
  color: rgba(255, 255, 255, 1);
}

.project-goals .goalsBox:hover .sm-text {
  color: rgba(255, 255, 255, 1);
}

/* Technology-Used */

.technology-used .text {
  text-align: center;
  text-transform: capitalize;
}

/* our-timeline */
.yellowBG {
  background-color: #ffd31b;
}

.peachBG {
  background-color: rgba(255, 135, 68, 1);
}

.lightblueBG {
  background-color: rgba(190, 255, 218, 1);
}

.skyblueBG {
  background-color: rgba(32, 189, 255, 1);
}

.our-timeline {
  position: relative;
}

.our-timeline .text {
  margin-bottom: 54px;
}

.our-timeline .timelineBox {
  padding: 20px;
  margin-top: 12px;
  position: relative;
}

.our-timeline .timelineBox .box {
  position: absolute;
  width: 230px;
  left: 50%;
  transform: translateX(-50%);
}

.our-timeline .timelineBox .content {
  font-weight: 800;
  font-size: 21px;
  line-height: 34px;
  color: #685500;
  border-radius: 4px;
  padding: 14px 14px;
  margin: 0px 14px;
  text-align: center;
}

.our-timeline .timelineBox .sub-heading {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.our-timeline .timelineBox .text {
  text-align: center;
}

.our-timeline .dotted-line {
  /* position: absolute; */
  border: 1px dashed #000000;
  height: 62px;
  margin-bottom: -60px;
}

/* discoveAndExplore */

.discoverAndExplore {
  background-color: rgba(237, 242, 242, 1);
}

.discoverAndExplore .sub-heading {
  margin-top: 55px;
  font-weight: 800;
}

.discoverAndExplore .text {
  margin-bottom: 40px;
  margin-top: 20px;
}

.discoverAndExplore .main-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.discoverAndExplore .btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 34px;
  color: #ffffff;
  padding: 8px 35px;
  background-color: rgba(201, 75, 48, 1);
  margin-bottom: 40px;
}

.discoverAndExplore .content {
  margin-top: 200px;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  color: #1b1a1e;
}

.discoverAndExplore .content::before {
  content: "";
  width: 76px;
  height: 3px;
  background-color: rgba(44, 105, 223, 1);
  position: absolute;
  z-index: 4;
  left: 47%;
  margin-top: 215px;
}

.discoverAndExplore .subheading {
  margin-top: 30px;
}

.discoverAndExplore .blendBG {
  mix-blend-mode: multiply;
}

.strategies .sub-heading {
  font-weight: 700;
  line-height: 50px;
  color: #ffffff;
  position: relative;
}

.strategies .sub-heading::before {
  position: absolute;
  content: "";
  width: 112px;
  height: 4px;
  background-color: #ffffff;
  bottom: 0;
}

.strategies .text {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.strategies .box {
  background-color: #2c69df;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 40px;
}

.strategies .strategiesBox {
  margin-top: 70px;
}

.strategies .strategiesBox .sub-heading {
  color: #000000;
  font-weight: 800;
}

.strategies .strategiesBox .text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 50px;
  text-transform: none;
}

.strategies .strategiesBox ul li {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1b1a1e;
  margin-bottom: 15px;
}

.wireframing {
  background-color: rgba(237, 242, 242, 1);
}

.wireframing .sub-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  text-transform: capitalize;
  color: #1b1a1e;
}

.wireframing .text {
  margin-bottom: 70px;
  margin-top: 20px;
}

.design {
  background-image: url("../img/display_Mobile.jpg");
  background-repeat: no-repeat;
  height: 976px;
  background-position: center;
}

.guidelines .heading {
  margin-bottom: 100px;
}

.guidelines .sub-heading {
  font-weight: 700;
}

.guidelines .box {
  padding: 34px;
  border-radius: 20px;
  margin-top: 24px;
  width: 264px;
  height: 214px;
}

.guidelines .box .sub-heading {
  font-size: 24px;
  line-height: 64px;
  color: #ffffff;
}

.guidelines .box .text {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.guidelines .complimentary .c-box .box {
  border: 1px solid rgba(231, 226, 226, 1);
}

.guidelines .complimentary .sub-heading {
  color: #000000;
}

.guidelines .complimentary .text {
  color: #000000;
}

.typefaces .sub-heading {
  font-weight: 800;
  margin-bottom: 100px;
}

.typefaces .box {
  background-color: rgba(248, 243, 243, 1);
  width: 267px;
  height: 320px;
  padding: 30px;
}

.typefaces .heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #333333;
}

.typefaces .text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.typefaces .box .sm-text {
  font-family: Open Sans;
  font-size: 24px;
  line-height: 34px;
}

.typefaces .box .sm-text span {
  font-weight: 600;
}

.typefaces .box:hover {
  background-color: rgba(44, 105, 223, 1);
}

.typefaces .box:hover .heading {
  color: #ffffff;
}

.typefaces .box:hover .text {
  color: #ffffff;
}

.typefaces .box:hover .sm-text {
  color: #ffffff;
}

.text-hierarchy .sub-heading {
  font-weight: 800;
  text-align: center;
  margin-bottom: 70px;
}

.hifi_bG {
  background-image: url("../img/hi-fi_UiDesign.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 735px;
}

.homepage {
  position: relative;
  z-index: 10;
}

.homepage .box {
  margin-top: 70px;
}

.mobile--image {
  background-image: url("../img/display_Mobile2.png");
  height: 976px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -55%;
}

.mobile-design {
  background: linear-gradient(
    180deg,
    rgba(227, 227, 227, 0) 0%,
    #f1f1f1 100%,
    #f1f1f1 100%
  );
}

.mobile-design .sub-heading {
  font-weight: 800;
}

.impact .heading {
  margin-bottom: 50px;
}

.impact .box {
  background-color: #1761b9;
  padding: 24px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.impact .box .sub-heading {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
}

.impact .box .text {
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #ffffff;
}

.impact .box:hover {
  background-color: #ffffff;
  border: 1px solid rgba(235, 235, 235, 1);
}

.impact .box:hover .sub-heading {
  color: #000000;
}

.impact .box:hover .text {
  color: #000000;
}

.feedback {
  padding: 200px 0;
}

.mobile-design {
  position: relative;
}

.thankyou {
  background-image: url("../img/thankyou.png");
  height: 542px;
  background-repeat: no-repeat;
  margin-top: -100px;
}

.thankyou .content {
  font-style: normal;
  font-weight: 600;
  font-size: 144px;
  line-height: 34px;
  color: #ffffff;
  margin-top: 17%;
}

/*  */

.header-icons .iconBox {
  display: flex;
  margin-top: 40px;
}

.header-icons .iconBox .icon {
  width: 50px;
  height: 50px;
}

.header-icons .iconBox .icon img {
  width: 100%;
}

.header-icons .iconBox .content {
  padding-left: 20px;
}

.header-icons .iconBox .content p {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 5px;
}

.header-icons .iconBox .content h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

/* mega-menu */

.desktop-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.desktop-menu,
.desktop-menu.active {
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
}

.desktop-menu {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  z-index: 1030;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  visibility: hidden;
  pointer-events: none;
}

.desktop-menu__bluebg {
  width: 60%;
  padding-right: 0;
  padding-left: 0;
  float: left;
  background: #2c69df;
  height: 100%;
}

.desktop-menu__blackbg {
  width: 40%;
  background: #fff;
  float: left;
  height: 100%;
  position: relative;
}

#cut-btn {
  position: absolute;
  z-index: 22;
  right: 50px;
  top: 30px;
  font-size: 30px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.desktop-menu__blackbg .desktop-menu__item * {
  color: #000000;
}

.desktop-menu__bluebg .desktop-menu__item * {
  color: #fff;
}

.desktop-menu__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.desktop-menu.active .desktop-menu__item.active * {
  opacity: 1;
}

.desktop-menu.active .desktop-menu__item.active *,
.header-nav li a {
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  text-decoration: none;
}

.desktop-menu__item * {
  position: relative;
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  z-index: 9;
}

.desktop-menu.active .desktop-menu__item.active * {
  opacity: 1;
}

.desktop-menu.active .desktop-menu__item.active *,
.header-nav li a {
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  text-decoration: none;
}

.main-links__item {
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 8px;
  display: inline-block;
  font-weight: 700;
}

.h-lg-100 {
  min-height: 100%;
}

.main-links--sub {
  min-width: 45%;
}

.main-links a {
  margin-top: 32px;
  display: inline-block;
  text-decoration: none;
}

.main-links2 a {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
  display: inline-block;
}

.social-links {
  margin-top: 100px;
}

.social-links a {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin-right: 16px;
  /* add margin bottom so icons do not overlap */
  display: inline-block;
  margin-bottom: 8px;
}

.desktop-menu__blackbg .desktop-menu__item .bg-bl-hd {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.desktop-menu__blackbg .web-btn {
  padding: 12px 20px;
  background: #2c69df;
  border-radius: 5px;
  color: #fff;
  border: 1.5px solid #2c69df;
  display: inline-block;
}

.desktop-menu__blackbg .web-btn:hover {
  background-color: #fff;
  color: #2c69df;
}

.the-mega-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 16px;
  z-index: 9999;
  cursor: pointer;
}

.the-mega-btn .l1 {
  width: 15px;
  height: 1.5px;
  background-color: #2c69df;
  transition: all 0.3s;
}

.the-mega-btn .l2 {
  width: 15px;
  height: 2px;
  background-color: #2c69df;
  margin-top: 7px;
  transition: all 0.3s;
}

.the-mega-btn.active .l1 {
  transform: rotate(45deg);
  width: 20px;
}

.the-mega-btn.active .l2 {
  transform: rotate(-45deg);
  width: 20px;
  margin-top: -2px;
}

.the-mega-btn.fixed {
  position: fixed;
  top: 7%;
  right: 50px;
}

.hvr-div a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.hvr-div a:hover:before {
  width: 100%;
}

.hvr-m a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.hvr-m a:hover:before {
  width: 100%;
}

/*  */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .our-timeline .dotted-line {
    width: 970px;
  }

  .discoverAndExplore br {
    display: none;
  }

  .strategies .strategiesBox br {
    display: none;
  }

  .guidelines .box {
    width: 220px;
  }

  .typefaces .box {
    width: 220px;
  }

  .typefaces .heading {
    font-size: 28px;
  }

  .impact .box .sub-heading {
    font-size: 28px;
  }

  .thankyou .content {
    font-size: 120px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .banner-img {
    min-width: 555px;
    top: 10%;
  }

  .banner {
    height: 648px;
  }

  .banner .box {
    margin-top: 0;
  }

  .heading {
    font-size: 38px;
  }

  .text {
    font-size: 16px;
    line-height: 26px;
  }

  .project-goals .goalsBox {
    width: 265px;
    height: 345px;
    padding: 40px 20px;
  }

  .project-goals .goalsBox .sub-heading {
    font-size: 20px;
    line-height: 32px;
  }

  .our-timeline .dotted-line {
    width: 724px;
  }

  .our-timeline .timelineBox {
    padding: 2px;
    margin-top: 30px;
  }

  .our-timeline .timelineBox .box {
    width: 160px;
  }

  .our-timeline .timelineBox .content {
    font-size: 14px;
    padding: 10px 8px;
  }

  .our-timeline .timelineBox .text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
  }

  .our-timeline .timelineBox .sub-heading {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .discoverAndExplore .text br {
    display: none;
  }

  .discoverAndExplore .main-heading {
    font-size: 26px;
  }

  .discoverAndExplore .main-heading br {
    display: none;
  }

  .discoverAndExplore .btn {
    font-size: 16px;
  }

  .discoverAndExplore .content {
    margin-top: 50px;
    font-size: 24px;
    line-height: 36px;
  }

  .discoverAndExplore .content br {
    display: none;
  }

  .discoverAndExplore .content::before {
    left: 45%;
    margin-top: 125px;
  }

  .strategies .box {
    padding: 10px;
  }

  .strategies .text {
    font-size: 20px;
  }

  .strategies .sub-heading {
    font-size: 20px;
  }

  .strategies .strategiesBox .text br {
    display: none;
  }

  .strategies .strategiesBox ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .strategies .strategiesBox .text {
    font-size: 16px;
  }

  .wireframing .text br {
    display: none;
  }

  .guidelines .box {
    width: 160px;
    height: 190px;
    padding: 15px;
  }

  .guidelines .box .sub-heading {
    font-size: 18px;
    line-height: 30px;
  }

  .typefaces .box {
    padding: 15px;
    width: 160px;
    height: 240px;
  }

  .typefaces .heading {
    font-size: 22px;
    line-height: 40px;
  }

  .typefaces .text {
    font-size: 20px;
    line-height: 28px;
  }

  .typefaces .box .sm-text {
    font-size: 18px;
    line-height: 28px;
  }

  .hifi_bG {
    background-position: center;
    background-size: 100% 100%;
  }

  .impact .box {
    padding: 15px;
  }

  .impact .box .sub-heading {
    font-size: 28px;
    line-height: 30px;
  }

  .impact .box .text {
    font-size: 40px;
  }

  .thankyou .content {
    font-size: 120px;
  }

  .thankyou {
    background-position: center;
    background-size: 100% 100%;
    height: 350px;
    margin-top: -150px;
  }
}

@media only screen and (max-width: 576px) {
  .header-icons {
    display: flex;
    overflow-x: scroll;
  }

  .header-icons .iconBox {
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .header-icons .iconBox .icon {
    width: 32px;
    height: 32px;
  }

  .header-icons .iconBox .content {
    padding-left: 15px;
  }

  .header-icons .iconBox .content p {
    font-size: 14px;
    line-height: 17px;
  }

  .header-icons .iconBox .content h3 {
    font-size: 16px;
    line-height: 25px;
    white-space: nowrap;
  }

  .banner .sub-heading {
    margin-bottom: 0px;
  }

  section {
    padding: 35px 0;
    position: relative;
  }

  .heading {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
  }

  .text {
    padding: 0 20px;
  }

  .banner {
    height: auto;
    overflow: hidden;
  }

  .banner .box {
    margin-top: 0px;
  }

  .banner .box img {
    width: 195px;
  }

  .banner-img {
    position: relative;
    min-width: 105%;
    right: 7px;
    z-index: 5;
    top: 25px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
  }

  .contact-btn .nav-link {
    font-size: 10px;
    line-height: 14px;
    padding: 10px;
  }

  .heading {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
  }

  .navbar-brand {
    margin-right: 0;
    margin-left: 10px;
  }

  .navbar-nav {
    background-color: #fff;
    padding: 25px 0;
    width: 80vw;
  }

  .navbar-collapse {
    position: fixed;
    top: 70px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    width: 100vh;
    left: 0;
    height: 100vh;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0);
  }

  header .navbar-nav .nav-item {
    margin: 5px 25px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.55);
  }

  header .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  header .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 10px;
    font-weight: 400;
  }

  header .navbar {
    padding-top: 0;
  }

  .the-mega-btn.active .l1,
  .the-mega-btn.active .l2 {
    background-color: #fff;
  }

  .the-mega-btn {
    top: 30px;
    right: 30px;
    position: fixed;
  }

  .sub-heading {
    font-size: 20px;
    line-height: 34px;
  }

  .project-brief .heading {
    font-weight: 900;
  }

  .project-brief .text {
    text-align: center;
  }

  .project-goals .heading {
    font-weight: 900;
  }

  .our-timeline .text {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .project-goals .goalsBox {
    width: 346px;
    height: 337px;
    margin: auto;
    margin-top: 30px;
  }

  .project-goals .goalsBox .num span {
    line-height: 66px;
  }

  .our-timeline .text br {
    display: none;
  }

  .sub-heading br {
    display: none;
  }

  .our-timeline .timelineBox .box {
    position: absolute;
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }

  .our-timeline .row:last-child {
    padding: 25px 0 25px;
    margin-top: 25px;
  }

  .technology-used .heading {
    margin-bottom: 40px;
    font-weight: 900;
  }

  .technology-used .text {
    font-size: 14px;
    line-height: 22px;
  }

  .project-goals .goalsBox .sm-text {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .our-timeline .heading {
    font-weight: 900;
  }

  .our-timeline .dotted-line {
    position: absolute;
    border: 1px dashed #000000;
    width: 49%;
    z-index: -1;
    height: 80%;
    top: 62vw;
  }

  .our-timeline .timelineBox {
    padding: 10px;
    margin: 0px 10px;
    background-color: #fff;
  }

  .discoverAndExplore .heading {
    font-weight: 900;
  }

  .discoverAndExplore .content {
    margin-top: 100px;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    font-style: italic;
    margin-bottom: 50px;
    position: relative;
  }

  .our-timeline .timelineBox .content {
    font-weight: 800;
    font-size: 18px;
    line-height: 34px;
  }

  .our-timeline .timelineBox .sub-heading {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .discoverAndExplore .text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .discoverAndExplore .text br {
    display: none;
  }

  .discoverAndExplore .sub-heading {
    margin-top: 20px;
    font-weight: 800;
    text-align: center;
  }

  .discoverAndExplore .main-heading {
    font-size: 25px;
    line-height: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .discoverAndExplore .content::before {
    margin-top: 0;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .strategies .heading {
    font-weight: 900;
  }

  .strategies .sub-heading {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .strategies .text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .strategies .sub-heading::before {
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }

  .strategies .strategiesBox {
    margin-top: 40px;
  }

  .strategies .strategiesBox ul li {
    font-size: 14px;
    line-height: 26px;
  }

  .strategies .box {
    padding: 25px;
  }

  .strategies .strategiesBox .text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
    text-transform: none;
  }

  .strategies .strategiesBox .text br {
    display: none;
  }

  .wireframing .sub-heading {
    text-align: center;
    font-size: 20px;
    line-height: 34px;
  }

  .wireframing .text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  .wireframing .text br {
    display: none;
  }

  .design {
    background-size: cover;
    height: 253px;
  }

  .guidelines .heading {
    font-weight: 900;
    margin-bottom: 50px;
  }

  .guidelines .sub-heading {
    text-align: center;
  }

  .guidelines .box .sub-heading {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
  }

  .guidelines .box {
    padding: 15px;
    width: 151px;
    height: 121.03px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .guidelines .box .text {
    font-size: 14px;
    line-height: 26px;
    padding: 0;
  }

  .typefaces .heading {
    text-align: left;
  }

  .typefaces .text {
    padding: 0;
  }

  .typefaces .sub-heading {
    margin-bottom: 50px;
    text-align: center;
  }

  .typefaces .box {
    margin: auto;
    margin-top: 40px;
  }

  .text-hierarchy .sub-heading {
    margin-bottom: 40px;
  }

  .ui-design .sub-heading {
    text-align: center;
    font-weight: 800;
  }

  .ui-design .text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
  }

  .ui-design .text br {
    display: none;
  }

  .hifi_bG {
    height: 190px;
    background-size: cover;
  }

  .mobile--image {
    height: 254px;
  }

  .mobile-design .sub-heading {
    text-align: center;
  }

  .mobile-design .text {
    text-align: center;
  }

  .mobile-design .text br {
    display: none;
  }

  .impact .heading {
    margin-top: 40px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 800;
  }

  .impact .text {
    font-size: 14px;
    line-height: 26px;
  }

  .impact .box .sub-heading {
    font-weight: 900;
    font-size: 25px;
    line-height: 43px;
  }

  .impact .box .text {
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
  }

  .impact .box {
    margin-bottom: 30px;
    height: 234px;
  }

  .feedback {
    padding: 50px 0;
  }

  .feedback .sub-heading br {
    display: block;
  }

  .mobile-design .text {
    margin-top: 30px;
  }

  .thankyou {
    margin-top: -40px;
    height: 160px;
    background-size: cover;
  }

  .thankyou .content {
    font-size: 55px;
    line-height: 34px;
  }

  /*  */

  .wrapper .heading:after {
    bottom: 10px;
    height: 5px;
  }

  /*  */
  .workbox-content a {
    font-size: 18px;
    line-height: 30px;
  }

  .work-category .workBox .middle {
    bottom: 50%;
  }

  .desktop-menu__bluebg {
    width: 100%;
    height: 50%;
  }

  .desktop-menu__blackbg {
    width: 100%;
    height: 50%;
    position: static;
  }

  .main-links__item {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .main-links {
    width: 55%;
  }

  .main-links a {
    margin-top: 24px;
  }

  .desktop-menu__blackbg .desktop-menu__item .bg-bl-hd {
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    color: #000000;
  }

  #cut-btn {
    right: 25px;
    top: 20px;
  }

  #cut-btn svg path {
    stroke: #fff;
  }

  .desktop-menu__blackbg .desktop-menu__item .bg-bl-hd {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .main-links2 a {
    font-size: 14px;
    line-height: 22px;
  }
}
